[mysqld]
#datadir=/var/lib/mysql
#socket=/var/lib/mysql/mysql.sock
#symbolic-links=0
 
#relay-log=relay-log
server-id=22
innodb_file_per_table=ON
skip_name_resolve=ON
replicate-do-db	= wordpress
 
[mysqld_safe]
log-error=/var/log/mysql/mysql.log
pid-file=/var/run/mysql/mysql.pid
 
